body {
  padding: 0;
  margin: 0;
  height: 100%;
  overflow: hidden;
  background: #000;
}

.globe-app {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.button {
  position: relative;
  margin: 30px 0 0 30px;
  display: flex;
  outline: none;
  border: none;
  -webkit-box-align: center;    
  align-items: center;
  min-height: 30px;
  line-height: 30px;
  color: rgb(255, 255, 255);    font-size: 13px;
  background-color: rgb(66, 136, 253);
  padding: 0px 8px;
  border-radius: 3px;
  text-decoration: none;
  transition: background-color 0.05s ease 0s; 
}

#info {
  font-size: 11px;
  position: absolute;
  bottom: 5px;
  color: rgba(255, 255, 255, 0.8);
  background-color: rgba(0,0,0,0.8);
  border-radius: 3px;
  right: 10px;
  padding: 10px;
}